<div class="page-container">
  <div class="top-navigator">
    <nav class="top-navigator-container">
      <a class="navigator-item"
         routerLink="/dashboard"
         routerLinkActive="active-link">Dashboard</a>
      <a class="navigator-item"
         routerLink="/yarn-table"
         routerLinkActive="active-link">Langat</a>
      <a class="navigator-item"
         routerLink="/csv"
         routerLinkActive="active-link">CSV</a>         
    </nav>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
