/* Application-wide Styles */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 0.0em;
}

tbody {
  overflow:hidden;
}

td.number {
  text-align: right !important;
}

input.cell-input {
  border: none;
  background-color: transparent;
}

td {
  overflow-x: hidden;
}

.ui-table-scrollable-header, .ui-table-scrollable-footer {
    overflow: visible !important;
}

.ui-datatable-data>tr>td {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: ellipsis;
}

.ui-datatable-scrollable-header {
  overflow: visible !important;
}

.ui-contextmenu-selected td {
    background-color: #3ca1e2 !important;
    color: #FFFFFF;
}

.ui-datatable.ui-datatable-resizable .ui-datatable-thead>tr>th,
.ui-datatable.ui-datatable-resizable .ui-datatable-tfoot>tr>td,
.ui-datatable.ui-datatable-resizable .ui-datatable-data>tr>td {
  overflow: visible !important;
}

.ui-table-resizable>.ui-table-wrapper {
    overflow-x: visible !important;
    overflow: visible !important;
}

.number-column {
  width: 130px !important;
}

a {
  text-decoration: none;
}



fieldset {
  border: 1px solid rgb(230, 230, 230);
  font-family: Roboto, Arial !important;
}

legend {
  color: rgb(128, 128, 128);
  font-family: Roboto, Arial !important;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.top-navigator {}

.content-container {
  overflow-y: auto;
  min-height: 400px;
}

.top-navigator-container {
  display: flex;
  border: 1px solid #156090;
  border-left: none;
}

.navigator-item {
  flex-grow: 1;
  padding: 4px;
  font-size: 14px;
  font-family: Roboto, Arial !important;
  text-decoration: none;
  text-align: center;
  border-left: 1px solid #156090;
  background-color: #FFFFFF;
  color: #186ba0;
}

.navigator-item.active-link {
  background-color: #186ba0;
  color: #FFFFFF;
}

.navigator-item.active-link:hover {
  background-color: #186ba0;
  color: #FFFFFF;
}

.navigator-item:hover {
  background-color: #F0F0F0;
  color: #085b90;
}




/*
body,
input[text],
button {
  color: #888;
  font-family: Cambria, Georgia;
  font-size: 12px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}

td.number {
  text-align: right;
}

td.tags {
  text-align: left;
  padding: 4px;
}

td input[type=text],
td input[type=number] {
  border: none;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 4px;
  width:100%;
  height: 90%;
}

td input[type=number] {
  text-align: right;
}*/
